In [1]:
import pandas as pd
import datetime
pd.set_option('display.max_columns', 500)
str_path_file = "Data/car_prices.csv"
df_car_prices = pd.read_csv(str_path_file)
int_original_df_length = len(df_car_prices)
print(f"Dataframe is {len(df_car_prices)} rows, run at {datetime.datetime.now()}")

Dataframe is 558837 rows, run at 2024-03-23 11:20:48.684041

# Nulls #

In [2]:
# Count missing values in each column
missing_values = df_car_prices.isnull().sum()
data_types = df_car_prices.dtypes
unique = df_car_prices.nunique()
non_null_counts = df_car_prices.count()

null_counts = df_car_prices.isnull().sum()
total_rows = len(df_car_prices)
null_percentage = (null_counts / total_rows) * 100

dataframe_metadata = pd.DataFrame({'Non-null Counts': non_null_counts, 'missing_values' :missing_values, 'null_percentage': null_percentage ,'Data Types': data_types, 'unique': unique})
print(datetime.datetime.now())
dataframe_metadata

2024-03-23 11:20:51.853315

,Non-null Counts,missing_values,null_percentage,Data Types,unique
year,558837,0,0.000000,int64,34
make,548536,10301,1.843292,object,96
model,548438,10399,1.860829,object,973
trim,548186,10651,1.905922,object,1963
body,545642,13195,2.361154,object,87
transmission,493485,65352,11.694287,object,4
vin,558833,4,0.000716,object,550297
state,558837,0,0.000000,object,64
condition,547017,11820,2.115107,float64,41
odometer,558743,94,0.016821,float64,172278
color,558088,749,0.134028,object,46
interior,558088,749,0.134028,object,17
seller,558837,0,0.000000,object,14263
mmr,558799,38,0.006800,float64,1101
sellingprice,558825,12,0.002147,float64,1887
saledate,558825,12,0.002147,object,3766

In [3]:
#Still need to be run twice?

#Extract year from sales date
df_car_prices=df_car_prices.loc[df_car_prices['saledate'].str.len()>5]
df_car_prices['saleyear']=df_car_prices['saledate'].str[11:15].astype('int')

# Drop rows with invalid datetime values (NaT)
df_car_prices.dropna(subset=['saledate'], inplace=True)

# Calculate age as the difference between 'year' and 'saledate_year'
df_car_prices['age'] = df_car_prices['saleyear'] - df_car_prices['year']

print(f"Dataframe is {len(df_car_prices)} rows, run at {datetime.datetime.now()}.  Original length {int_original_df_length}.")

Dataframe is 558799 rows, run at 2024-03-23 11:20:53.642321.  Original length 558837.

In [4]:
df_car_prices=df_car_prices.loc[~df_car_prices['odometer'].isnull()]
print(f"Dataframe is {len(df_car_prices)} rows, run at {datetime.datetime.now()}.  Original length {int_original_df_length}.")

Dataframe is 558705 rows, run at 2024-03-23 11:20:53.974447.  Original length 558837.

In [5]:
#Clean body by making all characters lowercase
df_car_prices['body']=df_car_prices['body'].str.lower()
df_car_prices['make']=df_car_prices['make'].str.lower()
df_car_prices['model']=df_car_prices['model'].str.lower()
df_car_prices['trim']=df_car_prices['trim'].str.lower()
df_car_prices['state']=df_car_prices['state'].str.lower()
print(f"Dataframe is {len(df_car_prices)} rows, run at {datetime.datetime.now()}.  Original length {int_original_df_length}.")

Dataframe is 558705 rows, run at 2024-03-23 11:20:55.616519.  Original length 558837.

In [6]:
#unique_body = df_car_prices['body'].nunique()

In [7]:
#Drop all rows where even one record is null
df_car_prices.dropna(inplace=True)
print(f"Dataframe is {len(df_car_prices)} rows, run at {datetime.datetime.now()}.  Original length {int_original_df_length}.")

Dataframe is 472325 rows, run at 2024-03-23 11:20:56.736955.  Original length 558837.

In [8]:
df_car_prices['pct_mmr']=df_car_prices['sellingprice']/df_car_prices['mmr']
print(f"Dataframe is {len(df_car_prices)} rows, run at {datetime.datetime.now()}.  Original length {int_original_df_length}.")
df_car_prices.head(2)

Dataframe is 472325 rows, run at 2024-03-23 11:20:56.770733.  Original length 558837.

,year,make,model,trim,body,transmission,vin,state,condition,odometer,color,interior,seller,mmr,sellingprice,saledate,saleyear,age,pct_mmr
0,2015,kia,sorento,lx,suv,automatic,5xyktca69fg566472,ca,5.0,16639.0,white,black,kia motors america inc,20500.0,21500.0,Tue Dec 16 2014 12:30:00 GMT-0800 (PST),2014,-1,1.048780
1,2015,kia,sorento,lx,suv,automatic,5xyktca69fg561319,ca,5.0,9393.0,white,beige,kia motors america inc,20800.0,21500.0,Tue Dec 16 2014 12:30:00 GMT-0800 (PST),2014,-1,1.033654

In [9]:
df_car_prices['age_when_sold'] = df_car_prices['saleyear'] - df_car_prices['year']
print(f"Dataframe is {len(df_car_prices)} rows, run at {datetime.datetime.now()}.  Original length {int_original_df_length}.")
df_car_prices.head(2)

Dataframe is 472325 rows, run at 2024-03-23 11:20:57.031362.  Original length 558837.

,year,make,model,trim,body,transmission,vin,state,condition,odometer,color,interior,seller,mmr,sellingprice,saledate,saleyear,age,pct_mmr,age_when_sold
0,2015,kia,sorento,lx,suv,automatic,5xyktca69fg566472,ca,5.0,16639.0,white,black,kia motors america inc,20500.0,21500.0,Tue Dec 16 2014 12:30:00 GMT-0800 (PST),2014,-1,1.048780,-1
1,2015,kia,sorento,lx,suv,automatic,5xyktca69fg561319,ca,5.0,9393.0,white,beige,kia motors america inc,20800.0,21500.0,Tue Dec 16 2014 12:30:00 GMT-0800 (PST),2014,-1,1.033654,-1

In [10]:
df_car_prices['Make-Model'] = df_car_prices['make'] + '-' + df_car_prices['model']
print(f"Dataframe is {len(df_car_prices)} rows, run at {datetime.datetime.now()}.  Original length {int_original_df_length}.")
df_car_prices.head(2)

Dataframe is 472325 rows, run at 2024-03-23 11:20:57.519278.  Original length 558837.

,year,make,model,trim,body,transmission,vin,state,condition,odometer,color,interior,seller,mmr,sellingprice,saledate,saleyear,age,pct_mmr,age_when_sold,Make-Model
0,2015,kia,sorento,lx,suv,automatic,5xyktca69fg566472,ca,5.0,16639.0,white,black,kia motors america inc,20500.0,21500.0,Tue Dec 16 2014 12:30:00 GMT-0800 (PST),2014,-1,1.048780,-1,kia-sorento
1,2015,kia,sorento,lx,suv,automatic,5xyktca69fg561319,ca,5.0,9393.0,white,beige,kia motors america inc,20800.0,21500.0,Tue Dec 16 2014 12:30:00 GMT-0800 (PST),2014,-1,1.033654,-1,kia-sorento

In [11]:
# Count missing values in each column
missing_values = df_car_prices.isnull().sum()
data_types = df_car_prices.dtypes
unique = df_car_prices.nunique()
non_null_counts = df_car_prices.count()

null_counts = df_car_prices.isnull().sum()
total_rows = len(df_car_prices)
null_percentage = (null_counts / total_rows) * 100

dataframe_metadata = pd.DataFrame({'Non-null Counts': non_null_counts, 'missing_values' :missing_values, 'null_percentage': null_percentage ,'Data Types': data_types, 'unique': unique})
print(datetime.datetime.now())
dataframe_metadata

2024-03-23 11:21:01.472328

,Non-null Counts,missing_values,null_percentage,Data Types,unique
year,472325,0,0.0,int64,26
make,472325,0,0.0,object,53
model,472325,0,0.0,object,764
trim,472325,0,0.0,object,1475
body,472325,0,0.0,object,45
transmission,472325,0,0.0,object,2
vin,472325,0,0.0,object,465768
state,472325,0,0.0,object,34
condition,472325,0,0.0,float64,41
odometer,472325,0,0.0,float64,160427
color,472325,0,0.0,object,20
interior,472325,0,0.0,object,17
seller,472325,0,0.0,object,11923
mmr,472325,0,0.0,float64,1099
sellingprice,472325,0,0.0,float64,1806
saledate,472325,0,0.0,object,3609
saleyear,472325,0,0.0,int32,2
age,472325,0,0.0,int64,27
pct_mmr,472325,0,0.0,float64,34339
age_when_sold,472325,0,0.0,int64,27
Make-Model,472325,0,0.0,object,772

In [12]:
#Note that the checksum in in Notebooks that use this data must match the checksum here.
df_car_prices.to_csv('Data/clean_car_prices.csv', index=False)
int_clean_car_prices_checksum = len(df_car_prices)
print(f"Dataframe is {len(df_car_prices)} rows, run at {datetime.datetime.now()}.  Original length {int_original_df_length}.  Clean Car Prices checksum is {int_clean_car_prices_checksum}")

Dataframe is 472325 rows, run at 2024-03-23 11:21:18.002660.  Original length 558837.  Clean Car Prices checksum is 472325